<!-- Semantic UI CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>

<!-- Favorite icon -->
<link rel="icon" href="http://www.iconarchive.com/download/i91735/icons8/windows-8/Sports-Trophy.ico" />
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>Miguel Torga - Soccer Application</title>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<meta property="og:url" content="http://www.yourwebsite.com/some_folder/some_fav_icon.png" />
<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Football_iu_1996.jpg/300px-Football_iu_1996.jpg" />
<meta property="og:title" content="Soccer Application" />
<meta property="og:description" content="A simple app to consult the statistics of the games." />
