<div class="ui pointing menu">
    <div class="ui container">
        <div class="item"><img src="https://cdn4.vectorstock.com/i/1000x1000/94/88/football-symbol-soccer-ball-icon-vector-16849488.jpg"></div>
        <a class="item {{#if home}} active {{/if}}" href="/"><i class="home icon"></i> Home</a>
        <a class="item {{#if games}} active {{/if}}" href="/games"><i class="futbol outline icon"></i> Games</a>
        <a class="item {{#if player}} active {{/if}}" href="/players"><i class="child icon"></i> Players</a>
        <div class="right menu">
        </div>
    </div>
</div>