<head>
    {{> head}}
</head>
<style>
.center {
    text-align: center;
}
p.thick {
    font-weight: bold;
}

</style>
<body>
    {{> menu this.menuState }}  
<div class="ui center segment">
    <h1 class="ui red header">SORRY </h1>
  <img class="ui centered medium circular image" src="https://www.lifewire.com/thmb/OO7CD06NAdoIwv71DgUgBiTd4ps=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg">
   <h1 class="ui header">404 ERROR</h1>
  <img class="ui small centered image" src="https://d30y9cdsu7xlg0.cloudfront.net/png/29340-200.png">
  
</div>
</body>