<head>
    {{> head}}
</head>

<script language='javascript'>
             $(document).ready(function(){
                $('.ui.inverted.accordion').accordion();
             });
</script>

<body>
    <div class="ui pointing menu">
    <div class="ui container">
        <div class="item"><img src="http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-soccer-ball.png"></div>
        <a class="item {{#if home}} active {{/if}}" href="/"><i class="home icon"></i> Home</a>
        <a class="item {{#if player}} active {{/if}}" href="/players"><i class="child icon"></i> Players</a>
        <a class="item {{#if player}} active {{/if}}" href="/games"><i class="child icon"></i> Games</a>
        {{!--         <a class="item {{#if nextgame}} active {{/if}}" href="/nextgame"><i class="clock outline icon"></i> Next Game</a> --}}
        {{!-- <a class="item {{#if contact}} active {{/if}}" href="/tournaments"><i class="trophy icon"></i>  Tournaments</a> --}}
        
        <div class="right menu">
        </div>

        <div class="right menu">
        {{#if user}}
            <div class="ui item right">
            <div class="ui primary button"><a href="/logout" style="color:white"><i class="sign out icon"></i>Logout</a></div>
        </div>
        {{else}}
        <div class="ui item right">
            <div class="ui primary button"><a href="/login" style="color:white"><i class="sign in icon"></i>Login</a></div>
        </div> 
        {{/if}} 
        </div>

    </div>
</div>  
    
<div align="center"> 
  <div class="ui centered inverted segment">
  <div class="ui inverted accordion">
    <div class="active title">
      <i class="question circle icon"></i>
      What's the purpose of this app?
    </div>
    <div class="active content">
      <p style="color:yellow;"> <i class="flag checkered icon"></i>The purpose of this application is simply academic. Is just for entertaining and at the same time is a way to save the statistics of the games made</p>
    </div>
    <div class="title">
      <i class="question circle icon"></i>
      How to contact me?
    </div>
    <div class="content">
      <p style="color:yellow;"> <i class="google plus icon"></i>Send an email to filipe.machado.fe@gmail.com.</p>
    </div>
    <div class="title">
      <i class="question circle icon"></i>
       How did the idea come about?
    </div>
    <div class="content">
      <p style="color:yellow;"> <i class="lightbulb icon"></i>The idea came in a strange way. He was waiting for a note on a programming chair and thought he was going to fail. However, to prepare myself for the other semester I was developing this application to go training JavaScript and because it is something that gives me pleasure in doing. And that's it, so this little application came along.</p>
    </div>
    <div class="title">
      <i class="question circle icon"></i>
      How to join the group?
    </div>
    <div class="content">
      <p style="color:yellow;"> <i class="meh outline icon"></i>Right now we're not accepting more members.</p>
    </div>
    <div class="title">
      <i class="question circle icon"></i>
       What did I used?
    </div>
    <div class="content">
      <p style="color:yellow;"> <i class="laptop icon"></i>I developed this application in JavaScritp and html views were generated through the use of Semantic-UI.</p>
    </div>
    <div class="title">
      <i class="question circle icon"></i>
       Where am I studying?
    </div>
    <div class="content">
      <p style="color:yellow;"> <i class="book icon"></i>I'm studying at ISEL and I'm currently in the third year of my degree.</p>
    </div>
  </div>
</div>  

<div class="ui center divider"></div>

<div class="ui centered ordered steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Shoes</div>
      <div class="description">Choose your shoes properly</div>
    </div>
  </div>
  <div class="completed step">
    <div class="content">
      <div class="title">Money</div>
      <div class="description">Bring money counted in coins</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Confirm Date</div>
      <div class="description">Verify game details</div>
    </div>
  </div>
</div>
</div> 
 </div>
</body>