<head>
    {{> head}}
</head>
<body>
    {{> menu this.menuState }} 
    
      <div class="ui center container">
          <h3>Create a new Game</h3>
      <div class="ui center floated basic blue button" data-tooltip="Register a new game"
              data-position="right center">
        <a href="/createGame"><i class="add sign icon"></i> New </a>
      </div>
      </div>
      <div class="ui center container"> 
           <h3>Create a new Player</h3>
           <div class="ui center floated basic blue button" data-tooltip="Register a new player"
              data-position="right center">
        <a href="/createGame"><i class="add sign icon"></i> New </a>
      </div></div>
      
      <div class="ui center container">
           <h3>Create a new Tournamet</h3>
           <div class="ui center floated basic blue button" data-tooltip="Register a new tournament"
              data-position="right center">
        <a href="/createGame"><i class="add sign icon"></i> New </a>
      </div></div>
       
    </div>

</body>