<head>
    {{> head}}
</head>

<script language='javascript'>
            $('.url.example .ui.embed').embed();
</script>

<body>
    {{> menu this.menuState }}

<h3 style=" text-align: center;"class="ui red inverted header">Youtube Highlights Videos from last Games</h3>

<div class="ui divider"></div>

<div style="display:inline-block;padding: 5px;" class="item">
<iframe width="350" height="200" src="https://www.youtube.com/embed/yWr8DjSlm2M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div style="display:inline-block;padding: 5px;" class="item">
<iframe width="350" height="200" src="https://www.youtube.com/embed/hI6rq1uP-Ls?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div  style="display:inline-block;padding: 5px;" class="item">
<iframe width="350" height="200" src="https://www.youtube.com/embed/SomAMWFCDuY?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div  style="display:inline-block;padding: 5px;" class="item">
<iframe width="350" height="200" src="https://www.youtube.com/embed/vrNCJOLOPdI?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="ui divider"></div>

<h4 style=" text-align: center;"class="ui blue inverted header">More videos will be posted soon</h4>

<div class="ui divider"></div>

</body>    