<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  <meta charset="UTF-8">
  <script src="https://static.codepen.io/assets/common/cookie_used_reload-ad47fd0c6e26ac84e84e95272cddc82a26caa7342cea5c006434d4bbb69d7b44.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet">

  <link rel="stylesheet" media="all" href="https://static.codepen.io/assets/global/global-NoMQ-7f3006686b67e41f19fee86fcc397e21f46f0ba0062826833f81b83f828a4b3c.css">
  <link rel="stylesheet" media="all" href="https://static.codepen.io/assets/editor/editor-6b83351c326665a030fd68bf150792965f78d6d576a6b9f258e6f28032bdf4f9.css">

  
  <meta name="description" content="...">

<link rel="stylesheet" media="screen" href="https://static.codepen.io/assets/editor/themes/twilight-806f33f2be80aeca6de9c2b2a8ef642d0eb4840b5d6f1787f28f61430c0a3af2.css" id="cm-theme">

<style id="cm-font-family" class="cm-font-family">
  
  .CodeMirror,
  .console-logs .console-line,
  .console-command-line-input,
  .console-message,
  .CodeMirror-hint {
    font-family: Monaco, MonoSpace;
  }
</style>

<style id="cm-font-size">
  .CodeMirror,
  .console-logs .console-line,
  .console-command-line-input,
  .console-message,
  .CodeMirror-hint {
    font-size: 14px;
  }
</style>
  
</head>

  <style>
.center {
    text-align: center;
}
p.thick {
    font-weight: bold;
}
.slides {
  background: white;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}
.slides .angle {
  color: lightblue;
  cursor: pointer;
  position: relative;
  top: calc(50% - 20px);
  transform: scale(1);
  transition: all .2s ease-in-out;
  z-index: 10;
}
.slides .angle:hover {
  transform: scale(1.7);
}
.slides .angle.right {
  float: right;
  margin-right: 1rem;
}
.slides .angle.left {
  float: left;
  margin-left: 1rem;
}
.slides .slide {
  height: 100%;
  padding: 2rem 5rem;
  transition: all .2s ease-in-out;
}
.slides .slide:not(.active) {
  display: none;
}
.slides .slide.inverted {
  color: white;
}
.slides .slide.shadow {
  text-shadow: 1px 1px 2px black;
}
.slides .slide.image {
  background: url("https://c1.staticflickr.com/8/7371/12387240074_536af0b877.jpg") no-repeat center center fixed;
  background-size: cover;
}
.slides .slide.salmon {
  background: salmon;
}

.faded {
  animation: fade .5s;
}

.blurred {
  animation: blur .4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opcity: 1;
  }
}
@keyframes blur {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}



</style>

<body>
    {{> menu user }}    

<div class="ui segment">
  <div class="ui center blue huge header">Miguel Torga Futebolada Group </div>
  <h4 class="ui center blue header">This is our web application to save the information and statistics of the game.</h4>
</div>

<div class="ui center segment">
<div class="ui horizontal list">
  <div class="item">
    <i class="circular inverted teal futbol outline icon"></i>
    <div class="content">
      <div class="header">{{scorer}}</div>
      <p class="thick" style="color:#0066ff">Top Scorer</p>
    </div>
  </div>
  <div class="item">
    <i class="circular inverted teal handshake icon"></i>
    <div class="content">
      <div class="header">{{assister}}</div>
      <p class="thick" style="color:#0066ff">Top Assists</p>
    </div>
  </div>
  <div class="item">
   <i class="circular inverted teal user circle icon"></i>
    <div class="content">
      {{#each player}}
      <div class="header">{{name}}</div>
       {{/each}}
      <p class="thick" style="color:#0066ff">Most Apperances</p>
    </div>
  </div>
</div>
</div>


<!-- simple Semantic UI slides -->
<!-- initial slide must be set to .active -->
<div class="ui container">
  <div class="ui text container slides">
    <i class="big left angle icon"></i>
    <i class="big right angle icon"></i>
    <div class="inverted shadow blurred image slide active" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Football_iu_1996.jpg/1200px-Football_iu_1996.jpg)no-repeat center center fixed;
      background-size: cover; ">
      <p>18 July 2018</p>
    </div>
    <div class="inverted shadow blurred image slide active" style="background:url(http://20.theladbiblegroup.com/s3/content/808x455/9da6eb97594511858a418755ba910dd0.png)no-repeat center center fixed;
      background-size: cover; ">
      <p>22 July 2018</p>
    </div>
    <div class="inverted shadow blurred image slide active" style="background:url(https://i2-prod.manchestereveningnews.co.uk/incoming/article13699191.ece/ALTERNATES/s615/unnamed-2.jpg)no-repeat center center fixed;
      background-size: cover; ">
      <p>15 July 2018</p>
    </div>
    <div class="inverted shadow blurred image slide active" style="background:url(https://images.pexels.com/photos/39562/the-ball-stadion-football-the-pitch-39562.jpeg?auto=compress&cs=tinysrgb&h=350)no-repeat center center fixed;
      background-size: cover; ">
      <p>15 July 2018</p>
    </div>
  </div>
</div>
<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
<script>$('.right')
  .on('click', function() {
    console.log('right');
    $('.slide')
      .siblings('.active:not(:last-of-type)') 
      .removeClass('active')
      .next()
      .addClass('active');
});

$('.left')
  .on('click', function() {
    $('.slide')
      .siblings('.active:not(:first-of-type)')
      .removeClass('active')
      .prev()
      .addClass('active');
});
 
//# sourceURL=pen.js
</script>

<div class="ui divider"></div>
    
    <div class="ui small four statistics">
  <div class="statistic">
    <div class="value">
      100+
    </div>
    <div class="label">
      Games
    </div>
  </div>
  <div class="statistic">
    <div class="text value">
      Two<br>
      Times a Week
    </div>
    <div class="label">
      Calendar
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="money icon"></i> 2.5€
    </div>
    <div class="label">
      Fair price
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <img src="https://semantic-ui.com/images/avatar/small/joe.jpg" class="ui circular inline image">
      55
    </div>
    <div class="label">
      Group Members
    </div>
  </div>
</div>
  
</body>
</html>