<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <style>
.center {
    text-align: center;
}

</style>
  <body>
    {{> menu this.menuState }}    
    <div class="ui segment">
      <div class="ui two column grid container">
        <div class="column middle aligned">
            <div class="ui small image floated right"><img src="https://pbs.twimg.com/media/BEDIl9aCEAA5upy.jpg"></div>
        </div>
        <div class="column middle aligned">
          <h2 style="margin-bottom: 0.3em">Miguel Torga</h2> 
          <div style="margin-bottom: 0.7em">Soccer Application</div>
          <a class="ui mini basic spaced label"> by Filipe Fé</a>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
      </h4>
      <div class="ui container middle">
        <div class="ui four column grid" id="cardContainer"></div>
      </div>
    </div>
  
  <div class="ui divider"></div>
  <div class="center">
  <p>In this site you will be able to consult the information sent to all the games that have been carried out by our players of the group. It was done simply for fun and for academic purposes. 
    It also serves to record the results of the games and to facilitate the booking of future events.</p>
</div>

<div class="ui divider"></div>


<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
                        <p><img class= "ui centered image" width='300px' height="300px" src='https://scontent.flis9-1.fna.fbcdn.net/v/t1.0-9/384360_316439851717666_157472975_n.jpg?_nc_cat=0&oh=1df5801e1a7eb3576180416e4457df9b&oe=5BA424E4'></p>
                    <div class="ui center aligned header">
                        <h3>Dasco</h3>
                    </div>          
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <p><img class= "ui centered image" width='300px' height="300px" src='https://scontent.flis9-1.fna.fbcdn.net/v/t1.0-9/16406850_1524056217623351_522742296701848008_n.jpg?_nc_cat=0&oh=9ec75c8d19f85cfc836c25825eee96ed&oe=5BE82A28'></p>
                    <div class="ui center aligned header">
                        <h3>Fezadas</h3>
                    </div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <p><img class= "ui centered image" width='300px' height="300px" src='https://scontent.flis9-1.fna.fbcdn.net/v/t1.0-9/10368382_804477442910648_6440261685595951815_n.jpg?_nc_cat=0&oh=5d1711aeef28c9b57369433d5dfe7b20&oe=5BEA83AA'></p>
                    <div class="ui center aligned header">
                        <h3>Mike</h3>
                    </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui four statistics">
  <div class="statistic">
    <div class="value">
      100+
    </div>
    <div class="label">
      Games
    </div>
  </div>
  <div class="statistic">
    <div class="text value">
      Two<br>
      Times a Week
    </div>
    <div class="label">
      Calendar
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="money icon"></i> 2.5€
    </div>
    <div class="label">
      Fair price
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <img src="https://semantic-ui.com/images/avatar/small/joe.jpg" class="ui circular inline image">
      55
    </div>
    <div class="label">
      Group Members
    </div>
  </div>
</div>
    
</body>
</html>