<head>
    {{> head}}
</head>
<style>
.center {
    text-align: center;
}
p.thick {
    font-weight: bold;
}

</style>
<body>
    {{> menu this.menuState }}  
<div class="ui center segment">
    <h1 class="ui red header">SORRY , INFORMATION NOT AVAILABLE</h1>
  <img class="ui centered medium circular image" src="http://www.nimblepitch.com/wp-content/uploads/attention-span.jpg">
   <h1 class="ui header">COME BACK SOON, WE WILL UPDATE THIS ASAP!</h1>
  <img class="ui small centered image" src="https://uc0d48602a6c82109218429d7616.previews.dropboxusercontent.com/p/thumb/AAFyk2kkRECC7qKb0Xts3idJCbTpIqYNXk9rJ3O36mgD4aivUyiwTVAgh0UKT5-5tBIRAqWvG_8FcfudYCfaj144bHpvzbiKbBTJr1ej-bED0lO4LaZSr_2xUMfv8nhX8kE5g38Ytp7D-4u_a3Zssb_VnwODjL9uiNxhi9wOt9fy-dHTC8XjK67L6Hs4UITNR2SwYO4FWORichrkU8v0L_Ud4qUGR8IIB0kIAt_7hifanA/p.png?size=1600x1200&size_mode=3">
  
</div>
</body>