<head>
    {{> head}}
</head>

<script language='javascript'>
            $('.url.example .ui.embed').embed();
</script>

<body>
    {{> menu this.menuState }}
<div class="ui center aligned segment"><h3 style=" text-align: center;"class="ui red inverted header">Photos from our games</h3>
<a href="https://www.facebook.com/rachiemiaa" class="ui centered image label">
  <img src="https://semantic-ui.com/images/avatar/small/stevie.jpg"> 
  Raquel Martins
</a></div>


<div class="ui divider"></div>

<div class="ui segment">
<img class="ui centered Huge image" src="https://image.ibb.co/g3RzBU/Whats_App_Image_2018_08_12_at_8_18_53_PM.jpg">
</div>
<div class="ui segment">
<img class="ui centered Huge image" src="https://image.ibb.co/cnGcy9/Whats_App_Image_2018_08_12_at_8_18_54_PM.jpg">
</div>
<div class="ui segment">
<img class="ui centered Huge image" src="https://image.ibb.co/mLZmrU/Whats_App_Image_2018_08_12_at_8_18_56_PM.jpg">
</div>
<div class="ui segment">
<img class="ui centered Huge image" src="https://image.ibb.co/fRPmrU/Whats_App_Image_2018_08_12_at_8_18_59_PM.jpg">
</div>
<div class="ui segment">
<img class="ui centered Huge image" src="https://image.ibb.co/gVf4d9/Whats_App_Image_2018_08_12_at_8_19_01_PM.jpg">
</div>
<div class="ui segment">
<img class="ui centered Huge image" src="https://image.ibb.co/ctRzBU/Whats_App_Image_2018_08_12_at_8_19_02_PM.jpg">
</div>

</body>    